.footer {
  text-decoration: none;
  position: absolute;
  padding: 10px;
  bottom: 0;
  width:100%;
  height: 40px;
  background-color: #222222;
}
.link{
  color: aliceblue;
  text-decoration: none;
}
.link:hover{
  color: bisque;
}